.navElement{
	text-transform: uppercase;
	margin: 5px 10px;
	border: 1.5px solid black;
	border-radius: 12px;
	padding: 12px;
	display: inline-flex;
	align-items: center;
}
.navElement:hover{
	color: white;
	background: #005aa7; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #432371, #faae7b); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #432371, #faae7b);
	padding: 12px;
	border-radius: 12px;
	border: 0px;
	cursor: none;
	box-shadow:
		inset 2px 2px 4px #c1c1c1,   /* inner shadow (top-left) for depth */
		inset -2px -2px 4px #ffffff, /* inner highlight (bottom-right) for light */
		8px 8px 16px rgba(0,0,0,0.15), /* drop shadow for lift */
		-4px -4px 12px rgba(255,255,255,0.7); /* soft outer glow */

	animation: unblur 0.1s linear forwards;
}

.alert1{
	text-align: center;
	background-color: red;
	color: white;
	padding: 5px;
	margin: 5px auto;
	border-radius: 10px;
	max-width: 900px;
}

.projects{
	background-color:white;
	max-height: 80svh;
	/*height: 100svh;*/
	overflow: auto;
	max-width: 900px;
	margin: auto;
	border-radius: 12px;
}
@media (max-width: 810px){
	.projectMainNav{
		display:flex;
		overflow: auto;
	}
}
