.navElement{
	text-transform: uppercase;
	margin: 5px 10px;
	border: 1.5px solid black;
	border-radius: 12px;
	padding: 12px;
	display: inline-flex;
	align-items: center;
}
.navElement:hover{
	background-color: rgba(0, 0, 0, 0.05);
	padding: 12px;
	border-radius: 12px;
}
.projects{
	background-color:white;
	max-height: 80svh;
	height: 100svh;
	overflow: auto;
	max-width: 900px;
	margin: auto;
	border-radius: 12px;
}
@media (max-width: 810px){
	.projectMainNav{
		display:flex;
		overflow: auto;
	}
}
