.logoImages{
	width: 100%;
	max-width:40px;
	border-radius: 20px;
	margin: 5px;
}
.projectImage{
	max-width:300px;
	border-radius: 10px;
	margin-right: 15px;
	padding: 5px;
}

@media (max-width: 810px) {
	.projectContainer{
		display: block;
		border-bottom: 2px solid black;
	}
}
