.projectInformationContainer{
	left: 0;
	top: 0;
	align-content: center;
	position: absolute;
	background: rgba(0,0,0,0.5);
	z-index: 999;
	width: 100%;
	height:100svh;
}
.x{
	padding: 10px;
	/*color: rgba(240, 244, 249, 1);
	width: 100%;
	max-width: 900px;*/
	font-weight: 900;
	font-size: larger;
	margin: auto;
}
.x:hover{
	background-color: white;
	background: #005aa7; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #432371, #faae7b); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #432371, #faae7b);
	padding: 12px;
	border-radius: 12px;
}
.iframe-container {
	position: relative;
	width: 100%;
	height: 400px; 
}

iframe {
	width: 100%;
	height: 100%;
	border: none;
	display: none; /* Hide iframe initially */
}

.projectVideoContainer{
	margin: auto;
	max-height: 90svh;
	/*height: 100svh;*/
	overflow: scroll;
	padding: 10px;
	width: 100%;
	max-width: 900px;
	background-color: white;
	/*
	display: grid;
	grid-template-columns: 2fr 2fr;
	*/
	border-radius: 12px;
}
.dateContainer{
	padding: 5px 10px;
	margin: 0;
	display: inline-block;
	border: 2px solid black;
	border-radius: 12px;
}
.timelineBody{
	width: 10px;
	background-color: black;
	margin-left: 20px;
}
@media (max-width: 810px) {
	.projectVideoContainer{
		display: block;
	}
}

