.active{
	background-color: rgba(194,231,255);
	/*font-weight: bold;
	font-size: xx-large;*/
	padding: 12px;
	border-radius: 12px;
	margin: 5px;
	text-transform: uppercase;
}
.navElement{
	text-transform: uppercase;
}
.navElement:hover{
	margin: 5px;
	background-color: rgba(0, 0, 0, 0.05);
	padding: 12px;
	border-radius: 12px;
}
.projects{
	background-color:white;
	max-height: 80svh;
	height: 100svh;
	overflow: auto;
	max-width: 900px;
	margin: auto;
	border-radius: 12px;
}
