.splitTwo{
	display: grid;
	grid-template-columns: 1fr 2fr;
	border-top: 1.5px solid black;
	animation: unblur 0.25s linear forwards;
}
.aboutContainer{
	/*max-height: 80svh;*/
	height: 100svh;
	padding: 12px;
	background-color: white;
	border-radius: 12px;
	/*overflow: auto;*/
}
.aboutHeroContainer{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.aboutHero{
	border-radius: 12px;
	padding: 12px;
	margin: 10px 5px;
	text-transform: uppercase;
	text-align: center;
}
.company_name{
	animation: bounceAnimation 0.75s;
}
