nav{
	/* position: absolute;*/
	width: 100%;
	text-align: center;
	padding: 10px 0;
}
.navContainer{
	/*background-color: white;
	box-shadow: 0 1px 2px 0 black;*/
	border-bottom: 1.5px solid black;
	/*border-radius: 6px;*/
	padding: 5px 0px;
	display: inline-flex;
	min-width: 50%;
	justify-content: space-evenly;
}
.mm{
	/*padding: 15px;
	box-shadow: 0 0 2px 0 black;
	background-color: white;*/
	margin: 0 15px;
	/*border-radius: 50%;*/
	display: inline-flex;
}
.navTitle{
	text-transform: uppercase;
	padding: 10px;
}
.mobileNav{
	display:none;
}


@media (max-width: 810px) {
	.mobileNav{
		display: block;
	}
	.desktopNav{
		display: none;
	}
}
