nav{
	/* position: absolute;*/
	width: 100%;
	text-align: center;
	padding: 10px 0;
}
.navContainer{
	/*background-color: white;
	box-shadow: 0 1px 2px 0 black;*/
	border-bottom: 1.5px solid black;
	/*border-radius: 6px;*/
	padding: 5px 0px;
	display: inline-flex;
	min-width: 50%;
	justify-content: space-evenly;
}
.mm{
	padding: 15px 5px;
	border: 2px solid;
	border-image: linear-gradient(to right, #432371, #faae7b) 1;
	margin: 0 15px;
	display: inline-flex;
	position: absolute;
	left: 5px;
	top: 5px;
	background: linear-gradient(to right, #432371, #faae7b);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.mm:hover{
	border-radius: 0;
	color: white;
	border: 0;
	background: none;
	-webkit-background-clip: initial;
	-webkit-text-fill-color: initial;
	background-clip: initial;
	color: white;
	padding: 17px 7px;
	background: linear-gradient(to right, #432371, #faae7b);
}
.navTitle{
	text-transform: uppercase;
	padding: 10px;
}
.mobileNav{
	display:none;
}
.socialContainer{
	position: absolute;
	left: 5px;
	margin: 0 15px;
	top: 40%;
	display: inline-grid;
	text-transform: uppercase;
	border-radius: 16px;
  }

@media (max-width: 810px) {
	.mobileNav{
		display: block;
	}
	.desktopNav{
		display: none;
	}
}
